* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #222;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
  height: 40px;
  line-height: 40px;
  background-color: #444;
  text-align: center;
  font-weight: bold;
  color: white;
  flex-shrink: 0;
}

#content {
  height: calc(100vh - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background-color: #222;
  display: block;
}

#softkey-bar {
  height: 35px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid #444;
  flex-shrink: 0;
}

#softkey-lsk,
#softkey-rsk {
  width: 35%;
  color: white;
  font-size: 14px;
}
#softkey-csk {
  width: 30%;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 14px;
}
#softkey-rsk {
  text-align: right;
}
